conf/oxe_spot_node-red.json
[{"id":"91783a0d.31c028","type":"tab","label":"Home","disabled":false,"info":""},{"id":"3fbcfc66.f0d724","type":"tab","label":"BT Speakers","disabled":false,"info":""},{"id":"a2cd1285.1b3a3","type":"tab","label":"Audio Controls","disabled":false,"info":""},{"id":"4f7c407a.682de","type":"tab","label":"Tests","disabled":true,"info":""},{"id":"6ebd9a00.5d2158","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"66758501.d677fc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":8,"gy":8,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a245698.5503a98","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a515ecc0.72cc","type":"ui_tab","name":"Bt Speakers","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"29316086.c5cbe","type":"ui_group","name":"System","tab":"6ebd9a00.5d2158","order":5,"disp":true,"width":"6","collapse":false},{"id":"b6ef7da1.e8bfe","type":"ui_group","name":"Bt Speakers","tab":"a515ecc0.72cc","order":1,"disp":false,"width":"6","collapse":false},{"id":"3b5cc499.598c2c","type":"ui_group","name":"Volume Control 1","tab":"6ebd9a00.5d2158","order":3,"disp":false,"width":"6","collapse":false},{"id":"a8cd0386.fdc1","type":"ui_tab","name":"Audio Controls","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"cbbd666f.05f958","type":"ui_group","name":"Volume","tab":"a8cd0386.fdc1","order":1,"disp":true,"width":"6","collapse":false},{"id":"8c09d42c.f832a8","type":"ui_group","name":"Configurarion","tab":"6ebd9a00.5d2158","order":2,"disp":true,"width":"6","collapse":false},{"id":"78a1d9ea.9838b8","type":"ui_group","name":"Volume Control 2","tab":"6ebd9a00.5d2158","order":4,"disp":false,"width":"6","collapse":false},{"id":"1a45cdd4.2db222","type":"ui_group","name":"Default","tab":"35ff53eb.0e3c8c","order":1,"disp":true,"width":"6","collapse":false},{"id":"35ff53eb.0e3c8c","type":"ui_tab","name":"Tests","icon":"fa-tachometer","order":4,"disabled":false,"hidden":false},{"id":"d44e0e87.9b7b7","type":"ui_group","name":"Status","tab":"6ebd9a00.5d2158","order":1,"disp":true,"width":"6","collapse":false},{"id":"6d8a2cd.8e62fd4","type":"ui_text","z":"91783a0d.31c028","group":"d44e0e87.9b7b7","order":1,"width":0,"height":0,"name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":160,"wires":[]},{"id":"5e3adf26.38b7a","type":"ui_button","z":"3fbcfc66.f0d724","name":"","group":"b6ef7da1.e8bfe","order":3,"width":0,"height":0,"passthru":false,"label":"Connect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"connect","payloadType":"str","topic":"topic","topicType":"msg","x":580,"y":200,"wires":[["96e020e3.6f278"]]},{"id":"c89f583b.ffb0b8","type":"ui_button","z":"3fbcfc66.f0d724","name":"","group":"b6ef7da1.e8bfe","order":4,"width":0,"height":0,"passthru":false,"label":"Disconnect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"disconnect","payloadType":"str","topic":"topic","topicType":"msg","x":590,"y":260,"wires":[["db2fa31a.88fc2"]]},{"id":"c097d81d.d7d448","type":"ui_text","z":"3fbcfc66.f0d724","group":"b6ef7da1.e8bfe","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":360,"wires":[]},{"id":"22a2fbc1.50b494","type":"mqtt in","z":"3fbcfc66.f0d724","name":"","topic":"/oxe/bt_spkr/status","qos":"2","datatype":"auto","broker":"a245698.5503a98","x":130,"y":360,"wires":[["c097d81d.d7d448"]]},{"id":"96e020e3.6f278","type":"mqtt out","z":"3fbcfc66.f0d724","name":"","topic":"/oxe/bt_spkr/connect","qos":"2","retain":"","broker":"a245698.5503a98","x":840,"y":200,"wires":[]},{"id":"db2fa31a.88fc2","type":"mqtt out","z":"3fbcfc66.f0d724","name":"","topic":"/oxe/bt_spkr/disconnect","qos":"2","retain":"","broker":"a245698.5503a98","x":850,"y":260,"wires":[]},{"id":"b407f273.26798","type":"ui_slider","z":"a2cd1285.1b3a3","name":"","label":"vol","tooltip":"","group":"cbbd666f.05f958","order":4,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"x":610,"y":300,"wires":[["1c95a9e4.839d26"]]},{"id":"79fa2ca0.808664","type":"ui_switch","z":"a2cd1285.1b3a3","name":"","label":"mute","tooltip":"","group":"cbbd666f.05f958","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":610,"y":260,"wires":[["bf51a3e2.6b763"]]},{"id":"e736799a.729908","type":"ui_text","z":"a2cd1285.1b3a3","group":"cbbd666f.05f958","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":220,"wires":[]},{"id":"2a60f8d1.f9c5d8","type":"mqtt in","z":"91783a0d.31c028","name":"","topic":"/oxe/main/status","qos":"2","datatype":"auto","broker":"a245698.5503a98","x":220,"y":160,"wires":[["6d8a2cd.8e62fd4"]]},{"id":"85d94545.fb9de8","type":"ui_dropdown","z":"91783a0d.31c028","name":"","label":"","tooltip":"","place":"Select Configuration","group":"8c09d42c.f832a8","order":0,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":640,"y":260,"wires":[["12a3b95d.6b8d47"]]},{"id":"f7014a49.c21768","type":"ui_text","z":"91783a0d.31c028","group":"3b5cc499.598c2c","order":1,"width":0,"height":0,"name":"","label":"volume control:","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":360,"wires":[]},{"id":"66b5b4f0.0418cc","type":"ui_slider","z":"91783a0d.31c028","name":"","label":"","tooltip":"","group":"3b5cc499.598c2c","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":"5","x":630,"y":440,"wires":[["46afcd98.5970a4"]]},{"id":"ca05735c.900ef","type":"ui_text","z":"91783a0d.31c028","group":"78a1d9ea.9838b8","order":1,"width":0,"height":0,"name":"","label":"volume control:","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":500,"wires":[]},{"id":"778b3c37.485f24","type":"ui_slider","z":"91783a0d.31c028","name":"","label":"","tooltip":"","group":"78a1d9ea.9838b8","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":"5","x":630,"y":580,"wires":[["9c65b220.3506"]]},{"id":"4573089d.b351c8","type":"ui_button","z":"91783a0d.31c028","name":"","group":"29316086.c5cbe","order":1,"width":"2","height":"1","passthru":false,"label":"restart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":690,"y":180,"wires":[["af0d1b0f.c912c8"]]},{"id":"febfe78b.d379c8","type":"ui_dropdown","z":"3fbcfc66.f0d724","name":"","label":"","tooltip":"","place":"Select a BT speaker","group":"b6ef7da1.e8bfe","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","x":580,"y":80,"wires":[["3715da9.734e126"]]},{"id":"3715da9.734e126","type":"mqtt out","z":"3fbcfc66.f0d724","name":"","topic":"/oxe/bt_spkr/select","qos":"2","retain":"","broker":"a245698.5503a98","x":840,"y":80,"wires":[]},{"id":"32aa44e7.ed78bc","type":"mqtt in","z":"91783a0d.31c028","name":"","topic":"/oxe/main/conf/list","qos":"2","datatype":"json","broker":"a245698.5503a98","x":210,"y":260,"wires":[["c822f57a.94e568"]]},{"id":"4526cd47.623524","type":"inject","z":"4f7c407a.682de","name":"Fake DB Result","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[[\"bob\",1],[\"rita\",2],[\"sue\",3],[\"test\",4]]","payloadType":"json","x":420,"y":140,"wires":[[]]},{"id":"e2acd642.38aa98","type":"function","z":"4f7c407a.682de","name":"transform data to correct format","func":"//as per info panel, the data needs to be formatted\n//as [ \"Choice 1\", \"Choice 2\", {\"Choice 3\":\"3\"} ]\n//and sent in msg.options.\nmsg.options = [];//create empty array\nfor(let i = 0; i < msg.payload.length; i++){\n    let row = msg.payload[i]; //get the row\n    let opt = {};//make new opt object\n    opt[row[0]] = row[1]; //add a propery to object called row[0] & set its value to row[1]\n    msg.options.push(opt);//add the opt to array    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":220,"wires":[["45e76152.32dcd"]]},{"id":"45e76152.32dcd","type":"ui_dropdown","z":"4f7c407a.682de","name":"","label":"","tooltip":"","place":"Select option","group":"1a45cdd4.2db222","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","topicType":"str","x":920,"y":220,"wires":[["ed546608.89a868"]]},{"id":"ed546608.89a868","type":"ui_toast","z":"4f7c407a.682de","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":970,"y":340,"wires":[]},{"id":"79f01b91.d09e94","type":"mqtt in","z":"4f7c407a.682de","name":"","topic":"/oxe_spot/conf","qos":"2","datatype":"json","broker":"a245698.5503a98","x":360,"y":240,"wires":[["e2acd642.38aa98"]]},{"id":"c822f57a.94e568","type":"function","z":"91783a0d.31c028","name":"format data","func":"//as per info panel, the data needs to be formatted\n//as [ \"Choice 1\", \"Choice 2\", {\"Choice 3\":\"3\"} ]\n//and sent in msg.options.\nmsg.options = [];//create empty array\nfor(let i = 0; i < msg.payload.length; i++){\n    let row = msg.payload[i]; //get the row\n    let opt = {};//make new opt object\n    opt[row[0]] = row[1]; //add a propery to object called row[0] & set its value to row[1]\n    msg.options.push(opt);//add the opt to array    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":260,"wires":[["85d94545.fb9de8"]]},{"id":"12a3b95d.6b8d47","type":"mqtt out","z":"91783a0d.31c028","name":"","topic":"/oxe/main/conf/select","qos":"2","retain":"","broker":"a245698.5503a98","x":920,"y":260,"wires":[]},{"id":"74e1e1bc.932c2","type":"mqtt in","z":"91783a0d.31c028","name":"","topic":"/oxe/main/vol_ctrl1/device_name","qos":"2","datatype":"auto","broker":"a245698.5503a98","x":390,"y":360,"wires":[["f7014a49.c21768"]]},{"id":"46afcd98.5970a4","type":"mqtt out","z":"91783a0d.31c028","name":"","topic":"/oxe/main/vol_ctrl1/vol","qos":"2","retain":"","broker":"a245698.5503a98","x":920,"y":440,"wires":[]},{"id":"941e9a88.11db68","type":"mqtt in","z":"91783a0d.31c028","name":"","topic":"/oxe/main/vol_ctrl2/device_name","qos":"2","datatype":"auto","broker":"a245698.5503a98","x":390,"y":500,"wires":[["ca05735c.900ef"]]},{"id":"9c65b220.3506","type":"mqtt out","z":"91783a0d.31c028","name":"","topic":"/oxe/main/vol_ctrl2/vol","qos":"2","retain":"","broker":"a245698.5503a98","x":900,"y":580,"wires":[]},{"id":"88a8c379.d46dd","type":"mqtt in","z":"3fbcfc66.f0d724","name":"","topic":"/oxe/bt_spkr/list","qos":"2","datatype":"json","broker":"a245698.5503a98","x":160,"y":80,"wires":[["a64d8995.7d6c28"]]},{"id":"1d201935.4585d7","type":"ui_dropdown","z":"a2cd1285.1b3a3","name":"","label":"Audio Port","tooltip":"","place":"Select option","group":"cbbd666f.05f958","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":630,"y":100,"wires":[["46ff16aa.6ee1c8"]]},{"id":"46ff16aa.6ee1c8","type":"ui_text","z":"a2cd1285.1b3a3","group":"cbbd666f.05f958","order":2,"width":0,"height":0,"name":"","label":"port:","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":180,"wires":[]},{"id":"5d9193f7.df158c","type":"mqtt in","z":"a2cd1285.1b3a3","name":"","topic":"/oxe/audio_ctl/list_audio_ctl","qos":"2","datatype":"auto","broker":"a245698.5503a98","x":340,"y":100,"wires":[["1d201935.4585d7"]]},{"id":"67bfcd06.e06db4","type":"mqtt in","z":"a2cd1285.1b3a3","name":"","topic":"/oxe/audio_ctl/status","qos":"2","datatype":"auto","broker":"a245698.5503a98","x":310,"y":220,"wires":[["e736799a.729908"]]},{"id":"bf51a3e2.6b763","type":"mqtt out","z":"a2cd1285.1b3a3","name":"","topic":"/oxe/audio_ctl/mute","qos":"","retain":"","broker":"a245698.5503a98","x":860,"y":260,"wires":[]},{"id":"1c95a9e4.839d26","type":"mqtt out","z":"a2cd1285.1b3a3","name":"","topic":"/oxe/audio_ctl/vol","qos":"","retain":"","broker":"a245698.5503a98","x":850,"y":320,"wires":[]},{"id":"a64d8995.7d6c28","type":"function","z":"3fbcfc66.f0d724","name":"format data","func":"//as per info panel, the data needs to be formatted\n//as [ \"Choice 1\", \"Choice 2\", {\"Choice 3\":\"3\"} ]\n//and sent in msg.options.\nmsg.options = [];//create empty array\nfor(let i = 0; i < msg.payload.length; i++){\n    let row = msg.payload[i]; //get the row\n    let opt = {};//make new opt object\n    opt[row[0]] = row[1]; //add a propery to object called row[0] & set its value to row[1]\n    msg.options.push(opt);//add the opt to array    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":80,"wires":[["febfe78b.d379c8"]]},{"id":"ed7affaf.252e6","type":"ui_button","z":"91783a0d.31c028","name":"","group":"29316086.c5cbe","order":2,"width":"2","height":"1","passthru":false,"label":"reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":870,"y":180,"wires":[["b5fb5f12.01aba"]]},{"id":"80628b93.65a0a8","type":"ui_button","z":"91783a0d.31c028","name":"","group":"29316086.c5cbe","order":3,"width":"2","height":"1","passthru":false,"label":"shut down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1050,"y":180,"wires":[["e8c71c8a.0de9b"]]},{"id":"e8c71c8a.0de9b","type":"exec","z":"91783a0d.31c028","command":"sudo poweroff","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1220,"y":160,"wires":[[],[],[]]},{"id":"b5fb5f12.01aba","type":"exec","z":"91783a0d.31c028","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1070,"y":100,"wires":[[],[],[]]},{"id":"5841d08e.0a816","type":"ui_toast","z":"91783a0d.31c028","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"msg","name":"","x":670,"y":680,"wires":[]},{"id":"ff0257c.8efbea8","type":"mqtt in","z":"91783a0d.31c028","name":"","topic":"/oxe/main/notification","qos":"2","datatype":"auto","broker":"a245698.5503a98","x":400,"y":680,"wires":[["5841d08e.0a816"]]},{"id":"34993b14.903cd4","type":"ui_toast","z":"3fbcfc66.f0d724","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"msg","name":"","x":480,"y":540,"wires":[]},{"id":"5da4c2e3.9a882c","type":"mqtt in","z":"3fbcfc66.f0d724","name":"","topic":"/oxe/bt_spkr/notification","qos":"2","datatype":"auto","broker":"a245698.5503a98","x":180,"y":540,"wires":[["34993b14.903cd4"]]},{"id":"af0d1b0f.c912c8","type":"exec","z":"91783a0d.31c028","command":"python3 /home/isaac/oxe_spot_snap/oxe_spot.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1010,"y":40,"wires":[[],[],[]]}]